.icons img{
    height: 20px;
    margin-right: 25px;
}
.icons{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}
.icons:hover{
    background-color: lightgray;
}
.icons:focus{
    background-color: lightgray;
}
.sidebar{
    position: absolute;
    top: 120px;
}